.alert{
    border: 1px solid #bbbbbb;
    width: 500px;
    padding: 20px;
    position: relative;
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bold;
    cursor: pointer;
}
.warning{
    background-color: rgb(254,240,203);
    color: rgb(123,109,96);
}
.success{
    background-color: rgb(209,235,215);
    color: rgb(235,254,190);
}
.primary{
    background-color: #006600;
    color: yellowgreen;
}
.danger{
    background-color: #bf616a;
    color: black;
}
